{% extends 'base.html.twig' %}
{% block headw %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>OpenStreetMap</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

	<link
	rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
	<!-- CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- ===============================================-->
	<!--    Document Title-->
	<!-- ===============================================--><title>TuniPedia
	</title>

	<!-- ===============================================-->
	<!--    Favicons-->
	<!-- ===============================================-->
	<!-- ===============================================-->
	<!--    Stylesheets-->
	<!-- ===============================================-->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">

{% endblock %}

{% block content %}

<section class="w3ls-section contact py-5">
	<div class="container py-sm-3">
		<div class="w3ls-title">
			<h2 class="heading text-center mb-sm-5 mb-4">Explore Hidden Places</h2>
		</div>
		<div class="w3ls_map">
			<div id="maCarte" style="height:400px; width:1000px; border:3px solid black;"></div>
		</div><br><br><br><br><br>

	

	<!-- Fichiers Javascript -->
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

	<script>
var tableauMarqueurs = [];

// On initialise la carte
var carte = L.map('maCarte').setView([33.8869, 9.5375], 6);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 18,
attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' + 'Imagery © <a href="http://mapbox.com">Mapbox</a>',
id: 'mapbox.streets'
}).addTo(carte);
                var One = new L.Icon({
                    iconUrl: 'red-marker.png',
                    shadowUrl: 'marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });
                var Two = new L.Icon({
                    iconUrl: 'green-marker.png',
                    shadowUrl: 'marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

var marqueurs = L.markerClusterGroup();


var place = {{ places|json_encode|raw }};
const places = JSON.parse(place);
var x;
// On parcourt les différentes villes
            for(p in places){
				if(places[p].Type == "Public") {x = Two;  } else x=One;
                // On crée le marqueur et on lui attribue une popup
                var marqueur = L.marker([places[p].Latitude, places[p].Longitude] , {icon: x});  //.addTo(carte); Inutile lors de l'utilisation des clusters
                marqueur.bindPopup("<p>"+places[p].Name+"</p>");
                marqueurs.addLayer(marqueur); // On ajoute le marqueur au groupe

                // On ajoute le marqueur au tableau
                tableauMarqueurs.push(marqueur);
            }

carte.addLayer(marqueurs);
L.Control.geocoder().addTo(carte);
L.Routing.control({
	geocoder: L.Control.Geocoder.nominatim()
}).addTo(carte)

	</script>


	<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
	<script src="{{ asset('vendorss/fontawesome/all.min.js')}}"></script>
	<script src="{{ asset('assetss/js/theme.js')}}"></script>
{% endblock %}

