{% extends 'base.html.twig' %}

{% block title %}Edit program{% endblock %}

{% block content %}

    {{ include('programme/_form.html.twig', {'button_label': 'Update'}) }}
      {{ include('programme/_delete_form.html.twig') }}

    <a href="{{ path('app_programme_index') }}" style=" background-color: #ebe8e3;padding: 6px 21px 10px 15px;border-radius: 5px; margin-left: 203px;  ">Back</a>


  
{% endblock %}